# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Lock files
yarn.lock
pnpm-lock.yaml

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS/Editor swap/backup files
*~
*.swp
*.swo
*.iml

# TypeScript
*.tsbuildinfo

# Vite / React / CRA / Next / Storybook / Misc
dist/
build/
build2/
coverage/
*.log
*.log.*

# Test runner stuff
_SpecRunner.html
test/the-files-to-test.generated.js

# Temporary files
.grunt
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
chrome-user-data
remote-repo/
__benchmarks__/
packages/react-devtools-core/dist
packages/react-devtools-extensions/chrome/build
packages/react-devtools-extensions/chrome/*.crx
packages/react-devtools-extensions/chrome/*.pem
packages/react-devtools-extensions/firefox/build
packages/react-devtools-extensions/firefox/*.xpi
packages/react-devtools-extensions/firefox/*.pem
packages/react-devtools-extensions/shared/build
packages/react-devtools-extensions/.tempUserDataDir
packages/react-devtools-inline/dist
packages/react-devtools-shell/dist
packages/react-devtools-scheduling-profiler/dist

# Python
*.pyc

# Flow
scripts/flow/*/.flowconfig
.flowconfig

# Misc
__benchmarks__/
coverage/